<button type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-block btn-default dropdown-toggle" style="text-transform: none;">
  {{ title }}
</button>
<br>
<div class="panel panel-default panel-flush">
  <div class="panel-heading text-uppercase" style="font-size: medium; background-color: #edeae4">
    Users
  </div>
  <div class="list-group-item">
    <a routerLink="users/sellers">Sellers</a>
  </div>
  <div class="list-group-item">
    <a routerLink="users/buyers">Buyers</a>
  </div>
</div>

<div class="panel panel-default panel-flush">
  <div class="panel-heading text-uppercase" style="font-size: medium; background-color: #edeae4">
    Users
  </div>
  <div class="list-group-item">
    <a routerLink="users/sellers">Sellers</a>
  </div>
  <div class="list-group-item">
    <a routerLink="users/buyers">Buyers</a>
  </div>
</div>
